/* GENERALE */

body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 14px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color:white
}

a.button{
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 100px;
}

a.button:hover{
    background-color: white;
    color: black;
}

h1,p{
    font-style: normal;
}

section h1,p {
    font-family: 'Roboto', sans-serif;
}

#links{
    font-style: normal;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

/* HEADER */
header{
    /*background-color: rgb(43, 43, 43);*/
    width: 100%;
    height: 85px;


    position:relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-bottom: 1px solid grey;
}



header h1{
    font-size: 40px;
    position: relative;
    top: 55px;
    left: 10px;
    color:white;
}


header h1 em{
    font-size: .7em;
}

header h1 a{
    font-size: .5em;
    margin-left:35%;
}

/* PARTE HEADER MOBILE */

@media (max-width: 700px){
    header{
        height: 55px;    
    }

    header h1{
        font-size: 25px;
    }
    
    a.button{
        padding: 5px 10px;
    }
}

/* NAV HEADER */
header nav{
    background-color: rgb(43, 43, 43);
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;

    font-size: 22px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-info{
    font-size: 34px;
    font-weight: 100;
}

#links a{
    margin: 15px;
}

#logo{
    font-size: 40px;
    color:white;
}

#menu {
    display: none;
  }
  
#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

a.user-button{
    display: inline-block;
    min-width: 70px;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border: 2px solid white;
    border-radius: 100px;
    margin: 0px;
} 

/* PARTE NAV MOBILE */

@media (max-width: 700px) {
    #links {
      display: none;
    }
  
    #menu {
      display: block;
    }

    #logo{
        font-size: 30px;
    }
  }

/* SECTION */  

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    color:white;
}

/* FOOTER */

footer{
    background-color: rgb(43, 43, 43);
    text-align:center;
    padding: 35px;
    font-size: 25px;
    color:white;
}

/* PARTE FOOTER MOBILE */

/* Menu */
#menu{
    cursor: pointer;
}

/* menu */
.modal{
    height: 40%;
    width: 20%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top: 13.8%;
    left: 80%;
    flex-direction: column;
}

#view{
    background-color: rgb(43, 43, 43);
    border: 1px solid grey;
    color: black;
    height: 160px;
    width: 20%;
    top:55px;
}

@media(max-width: 700px){
    footer{
        font-size: 15px;
    }
}

#view a{
    font-weight: 600;
}

@media(max-width: 5000px){
    #view{
        opacity: 0;
    }
}

@media(max-width:700px){
    #view{
        opacity: 1;
    }
}

/* CINEMA */

.title-cinema{
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#input{
    width: 90%;
    height: 30px;
    background: none;
    font-size: 15px;
    color: grey;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}

#input:focus{
    border-bottom: 1px solid rgba(0,112,255,1);
}

#div-cinema{
    background-color: rgba(255,255,255,0.2);
    width: 50%;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 100px;
    text-align: center;
    margin-top: 30px;
}

button{
    position: relative;
    margin-left: 575px;
    border-radius: 100px;
    background-color: rgba(0,70,255,1);
    padding: 5px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0,112,255,1);
}

#sep{
    width: 90%;
    height: 0.5px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: white;
}

#sep_div{
    width: 90%;
    height: 0.5px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: white;
}

#div-cons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

#title-sub{
    position: relative;
    font-size: 44px;
    padding:0px;
    margin: 0px;
}

#show-cons{
    margin-left:5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 2px;
    border-radius: 10px;
}

#show-pref{
    margin-left:5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 2px;
    border-radius: 10px;
}

.hidden{
    display: none;
}

#video-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;    
}


.box-show{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content:center;
    align-items: center;  
    margin-bottom:10px;  
}

#box-video{
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    margin: 10px;
}

#pref{
    position: relative;
    top: 8px;
    margin-top: 10px;
    cursor: pointer;
}

